* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 72px;
}

.nav-bar .left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .left-nav .let i {
  font-size: 80px;
}

.nav-bar .left-nav .tel {
  padding-left: 30px;
}

.nav-bar .left-nav i {
  font-size: 70px;
  padding-left: 90px;
}

.nav-bar .left-nav .big {
  font-size: 40px;
  font-weight: bolder;
}

.nav-bar .left-nav .small {
  font-size: 20px;
  color: #454242;
}

.nav-bar .right-nav {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
}

.nav-bar .right-nav .bar i {
  font-size: 45px;
  background-color: black;
  width: 60px;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
}

.nav-bar .right-nav li {
  list-style: none;
  padding-right: 40px;
  font-size: 18px;
  cursor: pointer;
}

.nav-bar .right-nav li a {
  text-decoration: none;
  color: black;
}

.nav-bar .right-nav li i {
  padding-right: 10px;
  font-size: 18px;
}

.container {
  background-color: #f4f3f3;
  margin: auto;
  margin-top: 1.4rem;
  width: 80%;
  border-radius: 4px;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .title {
  width: 50%;
}

.container .title .heading {
  width: 100%;
}

.container .title .heading h2 {
  font-size: 85px;
  font-weight: bold;
}

.container .title .arrow i {
  font-size: 60px;
  color: white;
  background-color: black;
  width: 80px;
  height: 60px;
  text-align: center;
  margin: 30px 345px;
}

.container .title2 {
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .title2 .content {
  width: 90%;
  margin-top: 180px;
}

.container .title2 .content .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .title2 .content .top .num span {
  font-weight: bold;
}

.container .title2 .content p {
  margin-top: 50px;
}

.boxes .box1 {
  width: 37.4rem;
  height: 15rem;
  margin: 70px 762px;
}

.boxes .box1 img {
  height: 100%;
  width: 100%;
}

.boxes .box2 {
  position: absolute;
  margin: -140px 330px;
  height: 350px;
  width: 500px;
}

.boxes .box2 .head h2 {
  font-size: 50px;
}

.boxes .box2 .btn {
  margin-top: 25px;
}

.boxes .box2 .btn a {
  color: black;
  background-color: #f4f3f3;
  margin-left: 40px;
  padding: 5px 10px;
  font-weight: 100;
}

.boxes .box3 {
  margin: -11rem 62.7rem;
}

.boxes .box4 {
  display: inline-block;
  margin: 6rem 16rem;
  position: absolute;
  color: #767171;
}

.services {
  margin-top: 15rem;
}

.services .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 260px;
  padding-right: 80px;
}

.services .top a {
  padding-right: 155px;
}

.services .mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8rem;
  width: 60%;
  margin: 3rem;
  margin-left: 25rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services .mid .list {
  padding: 20px;
}

.services .mid .list a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 45px;
  color: black;
}

.services .img {
  margin: -3rem 25rem;
  height: 22rem;
  width: 57.5rem;
}

.services .img img {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */